version: '3.8'

services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes

  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - ${API_PORT}:8000
    env_file:
      - .env
    command: ["uvicorn", "websocket.main:app", "--host", "0.0.0.0", "--port", "8000", "--workers", "3"]
    volumes:
      - ./websocket/:/app/websocket
      - ./websocket/templates/:/app/websocket/templates
    depends_on:
      - redis

volumes:
  redis-data:

